@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden; /* okay to prevent horizontal scroll */
    overflow-y: auto;   /* allow vertical scroll */
}

/* Matter Js */
#wrapper-canvas {
    /* border: 2px solid white; */
    position:absolute;
    width: auto;
    height: auto;
    
}

header {

    img{
        z-index: 10;
        pointer-events: none;
    }

    margin: 0px 40px 0px 40px;
    justify-content: space-between;

    .Right_logo :nth-of-type(1):hover {
        text-shadow:
            0 0 2px #fff59d,
            0 0 5px #ffeb3b,
            0 0 8px #ffc107,
            0 0 10px #ff9800,
            0 0 10px #ff5722;

        transform: scale(1.5);
        cursor: pointer;
        
    }

    .Right_logo :nth-of-type(2):hover {

        text-shadow:
            0 0 2px #e0f7fa,
            0 0 5px #b2ebf2,
            0 0 8px #81d4fa,
            0 0 12px #4fc3f7,
            0 0 18px #0288d1;

        transform: scale(1.5);
        cursor: pointer;
        

    }

    .Right_logo :nth-of-type(3):hover {

        text-shadow:
            0 0 2px #ffcdd2,
            0 0 5px #ef9a9a,
            0 0 8px #f44336,
            0 0 12px #e53935,
            0 0 16px #c62828;

        transform: scale(1.5);
        cursor: pointer;
         
    }

    .Right_logo :nth-of-type(4):hover {

        text-shadow:
            0 0 2px #b9f6ca,
            0 0 5px #69f0ae,
            0 0 8px #00e676,
            0 0 12px #00c853,
            0 0 16px #00b34f;

        transform: scale(1.5);
        cursor: pointer;
       


    }


}

.Right_logo {
    display: flex;
    align-items: center;
    gap: 50px;
     z-index: 10;
}

i {
    color: white;
    font-size: 1.5rem;
}


/* *****Making Header Responsive******* */
@media(max-width:640px) {
    header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}


/* -------Middle_Section -------------- */

.Middle_Scetion {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


    .Name {
        z-index: 10;
        pointer-events: none;
        font-size: 4rem;
        color: white;
        font-family: "Lobster", sans-serif;
        font-weight: 200;
        font-style: normal;
        margin-top: 3rem;
        


    }

    .Links {
         z-index: 10;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;


        a:hover {

            transform: scale(1.4);
            text-shadow:
                0 0 10px #00f,
                0 0 20px #00f,
                0 0 30px #00f,
                0 0 40px #00f,
                0 0 60px #00f;
        }
    }

}

.Processing {
    width: fit-content;
    font-family: "Lobster", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    font-style: normal;
    color: white;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    gap: 1rem;
   
    p{
         z-index: 10;
    }
}

/* MAking ANimation Loading  */
.Beofore_div {
    pointer-events: none;
    width: 200px;
    height: 20px;
    /* border: 2px solid blue; */
    border-radius: 10px;
    position: relative;
    text-align: center;
    font-size: 1rem;
    z-index: 1;
    color: white;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #00f8ff,
        0 0 30px #00f8ff;

    &::after {
        pointer-events: none;
        content: "";
        position: absolute;
        left: 0%;
        background: linear-gradient(135deg, #00f0ff, #0040ff, #0000ff);
        width: 0px;
        height: 20px;
        /* border: 2px solid rgb(255, 0, 0); */
        border-radius: 10px;
        z-index: -1;
        box-shadow:
            0 0 1px #00f0ff,
            0 0 5px #00bfff,
            0 0 8px #0080ff,
            0 0 10px #0050ff,
            0 0 11px #0022ff;

        animation-name: Loading;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
}

@keyframes Loading {

    0% {
        width: 0%;
    }

    100% {
        width: 100%
    }
}

/* ------------------------------------------------------------------- */
/* Midlle-Section Responsive */
@media(max-width:640px) {
    .Middle_Scetion .Name {
        font-size: 2rem;
    }

}

.Processing p {
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;

    &:hover {
        cursor: pointer;
        transform: scale(1.3);
        text-shadow: 0 0 5px #00f, 0 0 15px #00f;

    }
}

.pointer-container {
    font-size: 50px;
    cursor: pointer;
    animation: wiggle 1.2s infinite;
    display: inline-block;
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(15deg);
    }

    75% {
        transform: rotate(-10deg);
    }
}